*{box-sizing: border-box;}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 92%;}
.col-12{width: 100%;}


[class*='col-']{
	border: 1px solid;
	 float: left;
}

.row:after{
	content: '';
	display: block;
	clear: both;
}

.wrapper{
    width: 80%;
	height: auto;
	margin: 0 auto;
}

.top-header-height{height:30px;}
.header-height{height:100px;}
.menu-height{height:50px;}
.content-height{height:400px;}
.top-footer-height{height:100px}
.footer-height{height:50px;}


.main-ul{
	
	padding:0px;
	list-style-type: none;
	margin: 0px;

}

.main-ul li{
	float: left;
	border: 1px solid gray;
	width: 150px;

}

.main-ul li a{
	
	display: block;
	text-decoration: none;
	text-align: center;
	height: 48px;
	padding-top: 17px;
	background-color: green;
	color: white;
	transition: 1s;
}


.main-ul li a:hover{
	background-color: white;
	color: red;
}

.one{
	height:200px;
	width:200px;
	background-color:black;
	margin: 20px 0 0 20px;
	border-radius:20px 20px 20px 20px;
	float:left;
}

.two{
      height:200px;
	width:200px;
	background-color:black;
	margin: 20px 0 0 20px;
	float: left;
	border-radius:100px;
}
